.nav_item, .image-mem, .words-mem{
    transition: all ease-in-out 0.5s;
}
.nav_item:hover{
    background-color: #1F2028;
    border: 1px solid #6653b0;
}
.nav_item:active{
    background-color: yellow;
}
