.main{
    flex: 1 0 auto;
}
.content{
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
}



.slader{
    max-width: inherit;
    overflow: hidden;
    max-height: 520px;
    border: 1px solid blue;
}
.row{
    margin: 0 auto;
    margin-bottom: 25px;
}
.slades{
    display: flex;
    width: 400%;
    height: 100%;
}
input[name="selecter"]{
    position: absolute;
    visibility: hidden;
}
.slide-image{
    width: 25%;
}
.slade-navigation{
    display: flex;
    gap: 16px;
}

.mem-texts{
    overflow: hidden;
    height: 20px;
}

.words{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}



.slader-botton-content{
    display: flex;
    justify-content: space-between;
}
.slader_nav_item{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #6653b0;
}








#r_1:checked ~ .slide_1{

    margin-left:0%;
}
#r_2:checked ~ .slide_1{
    margin-left:-25%;
}
#r_3:checked ~ .slide_1{
    margin-left:-50%;
}
#r_4:checked ~ .slide_1{
    margin-left:-75%;
}

