.main{
    flex: 1 0 auto;
}
.content{
    max-width: 1024px;
    margin: 0 auto;
}



.slader{
    max-width: inherit;
    overflow: hidden;
}
input[name="selecter"]{
    position: absolute;
    visibility: hidden;
}
.image-mem{
    display: flex;
    width: 400%;
    max-height: 520px;
}
.slide-image{
    width: 25%;
}



.words-mem{
    display: flex;
    width: 400%;
}
.slide_word{
    width: 25%;
}
.navigation{
    display: flex;
    gap: 16px;
}
.nav_item{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #6653b0;
}









#r_1:checked ~ .image-mem{
    margin-left:0%;
}
#r_2:checked ~ .image-mem{
    margin-left:-100%;
}
#r_3:checked ~ .image-mem{
    margin-left:-200%;
}
#r_4:checked ~ .image-mem{
    margin-left:-300%;
}

