@import url("../CSS/fonts.css");
@import url("../CSS/pages.css");
@import url("../CSS/hover.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
html{
    background-color: #1F2028;
    min-height: 100%;
}
.wrapper{
    display: flex;
    flex-flow: column nowrap;
    max-width: 1864px;
    border: 1px solid yellow;
}
.image{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}


